<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" />
<form  [formGroup]="dealForm" (ngSubmit)="onSubmit()">
<table class="w-100">
  <tr>
    <td class="w-50">
      <div class="card">
        <h4>Client Details</h4>
        <div>
          <div class="row">
            <div class="col w-50">
              <input type="text" style="width:45%; margin: 10px; " formControlName="firstname" class="form-control d-inline-block" placeholder="First name">
              <input type="text" style="width:45%;"   formControlName="secondname" class="d-inline-block form-control" placeholder="Last name">
            </div>
          </div>
          <div class="row">
            <input type="text" style="width: 88%; margin-left: 37px;"  formControlName="phone" class="form-control" placeholder="Phone">
          </div>
          <div class="row">
            <input type="text" style="width: 88%; margin-left: 37px; margin-top: 10px; margin-bottom: 10px;"  formControlName="email" class="form-control" placeholder="Email (optional)">
          </div>
        </div>
      </div>
    </td>
    <td class="w-50">
      <div class="card">
      <h4>Job Details</h4>
      <div class="row">
        <div class="col">
          <select name="type"  formControlName="jobType" class="form-select" id="type">
            <option selected="null">job type</option>
            <option value="office">Office</option>
            <option value="remote">Remote</option>
          </select>
          <select name="source"  formControlName="jobSource" class="form-select" id="source">
            <option selected="null">job source</option>
            <option value="linkedin">linkedin</option>
            <option value="hh">hh</option>
          </select>
          <div class="row">
            <div class="col">
            <textarea rows="1" formControlName="notes" cols="3" class="form-control" style="width:85%; margin: 10px; margin-left: 20px; padding:10px;" placeholder="Job Description (optional)"></textarea>
          </div>
          </div>
        </div>
      </div>
      </div>
    </td>
  </tr>
  <tr>
    <td class="w-50">
      <div class="card">
        <h4>Service location</h4>
        <input type="text" formControlName="Address" class="form-control m-1 w-auto"  placeholder="Address"/>
        <input type="text" formControlName="City"  class="form-control m-1 w-auto" placeholder="City"/>
        <input type="text" formControlName="State"  class="form-control m-1 w-auto" placeholder="State"/>
        <input type="text" formControlName="City" class="form-control m-1 w-auto" placeholder="City"/>
        <div class="row">
          <div class="col">
            <input type="text" formControlName="code"  class="d-inline-block w-50 form-control" placeholder="Zip code"/>
            <select  formControlName="area" id="area" class="form-control d-inline-block w-50">
              <option selected="null">Area</option>
              <option value="Texas">Texas</option>
            </select>
          </div>
        </div>
      </div>

    </td>
    <td class="w-50">
      <div class="card">
        <h4>Scheduled</h4>
        <div>
          <div class="row">
            <div class="col-sm">
            <input type="date" class="form-control w-100" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31" />
            <div class="timeBlock">
              <input type="time" class="alarm form-control d-inline-block w-50 m-3 "  placeholder="Start time" id="appt" name="appt">
              <input type="time" class="alarm form-control  d-inline-block w-50 m-3" id="appt2" name="appt">
            </div>
            <select name="area" id="area4" class="form-control  d-inline-block">
              <option selected="null">Test select</option>
              <option value="Texas">Test</option>
            </select>
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="row d-flex justify-content-center align-content-center w-100">
        <div class="row justify-content-md-center">
        <button type="submit" class="btn d-inline-block btn-success w-auto" name="SUBMIT">Make a deal</button>
        <button type="reset" class=" btn btn-dark w-auto" name="SUBMIT">Reset</button>
        </div>
        </div>
    </td>
  </tr>
</table>
